.user-info{
    display: flex;
    flex-direction: column;
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    color: #212529;
    border-right: 1px solid #2125293a;
    border-bottom: 1px solid #2125293a;
    width: 300px;
    padding: 8px;
    margin: 18px;
    transition: all .20s ease-in 0s;
}

.user-info:hover{
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
}

.user-info_title{
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0px;
}

.user-info_description{
    color: #2125298c;
    cursor: default; 
    user-select: none;
}
