.searched-user{
    position: fixed;
    top: 200px;
    left: 25vw;
    background-color: rgb(247, 250, 253);
    border: 1px solid #2125293a;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    padding: 8px;
    min-width: 400px;
    width: 50vw;
    overflow-y: auto;
}

.searched-user_button{
    background: none;
    border: none;
    color: #212529;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    margin-left: auto;
}

.searched-user_table{
    display: flex;
    flex-wrap: wrap;
}

.searched-user_button:hover{
    color: #384047;
}