.search{
    position: absolute;
    left: 40vw;
}

.search_form{
    display: flex;
}

.search_icon{
    background-color: white;
    padding: 8px 8px;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #212529;
    border-right: none;
    color: #212529;
}

.search_input{
    width: 20vw;
    border: 1px solid #212529;
    border-radius: 0px 20px 20px 0px;
    border-left: none;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    outline: none;
}