.user-table{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    font-family:'Poppins', sans-serif;
    color: #2125298c;
    margin: 25px;
    border-bottom: 1px dashed #2125293a;
}

.user-table_loading{
    text-align: center;
    font-family:'Poppins', sans-serif;
    color: #212529;
    font-size: larger;
}

.user-table_error{
    text-align: center;
    font-family:'Poppins', sans-serif;
    color: #3a0f0f;
    font-size: larger;
}